# Git
.git
.gitignore

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# IDE
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Logs
logs/
*.log

# Training artifacts
models/X_train.pkl
models/X_test.pkl
models/y_train.pkl
models/y_test.pkl

# Documentation
docs/

# Notebooks
notebook/

# Tests
tests/

# Processed datasets
processed/