# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]

# IDE
.idea/

# Log files
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Trained artifacts
artifacts/random_forest.pkl
artifacts/logistic_regression.pkl
artifacts/linear_svm.pkl

# Training artifacts
artifacts/X_train.pkl
artifacts/X_test.pkl
artifacts/y_train.pkl
artifacts/y_test.pkl

# env
.env

# Database
*.db