# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]

# IDE
.idea/

# Log files
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Trained models
models/random_forest.pkl
models/logistic_regression.pkl
models/linear_svm.pkl

# Training artifacts
models/X_train.pkl
models/X_test.pkl
models/y_train.pkl
models/y_test.pkl

# env
.env